PRAGMA foreign_keys = ON;

-- =====================================================
-- 1. Таблиця налаштувань програми
-- =====================================================
CREATE TABLE IF NOT EXISTS app_settings (
    setting_id INTEGER PRIMARY KEY AUTOINCREMENT,
    setting_key TEXT NOT NULL UNIQUE,
    setting_value TEXT NOT NULL
);

-- =====================================================
-- 2. Таблиця статусів проєкту
-- =====================================================
CREATE TABLE IF NOT EXISTS project_statuses (
    status_id INTEGER PRIMARY KEY AUTOINCREMENT,
    status_name TEXT NOT NULL UNIQUE
);

-- =====================================================
-- 3. Таблиця пріоритетів проєкту
-- =====================================================
CREATE TABLE IF NOT EXISTS project_priorities (
    priority_id INTEGER PRIMARY KEY AUTOINCREMENT,
    priority_name TEXT NOT NULL UNIQUE,
    priority_level INTEGER NOT NULL
);

-- =====================================================
-- 4. Основна таблиця проєктів
-- =====================================================
CREATE TABLE IF NOT EXISTS projects (
    project_id INTEGER PRIMARY KEY AUTOINCREMENT,

    order_number TEXT NOT NULL UNIQUE,
    project_title TEXT NOT NULL,
    project_type TEXT NOT NULL,

    subject TEXT,
    specialty TEXT,

    customer_price REAL DEFAULT 0,
    currency TEXT DEFAULT 'UAH',

    description TEXT,

    deadline DATETIME NOT NULL,
    revision_deadline DATETIME,

    status_id INTEGER NOT NULL,
    priority_id INTEGER NOT NULL,

    folder_path TEXT NOT NULL,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    completed_at DATETIME,
    archived_at DATETIME,

    FOREIGN KEY (status_id) REFERENCES project_statuses(status_id),
    FOREIGN KEY (priority_id) REFERENCES project_priorities(priority_id)
);

-- =====================================================
-- 5. Історія зміни статусів
-- =====================================================
CREATE TABLE IF NOT EXISTS project_status_history (
    history_id INTEGER PRIMARY KEY AUTOINCREMENT,
    project_id INTEGER NOT NULL,
    old_status_id INTEGER,
    new_status_id INTEGER NOT NULL,
    comment TEXT,
    changed_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (project_id) REFERENCES projects(project_id) ON DELETE CASCADE,
    FOREIGN KEY (old_status_id) REFERENCES project_statuses(status_id),
    FOREIGN KEY (new_status_id) REFERENCES project_statuses(status_id)
);

-- =====================================================
-- 6. Нотатки до проєкту
-- =====================================================
CREATE TABLE IF NOT EXISTS project_notes (
    note_id INTEGER PRIMARY KEY AUTOINCREMENT,
    project_id INTEGER NOT NULL,
    note_text TEXT NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (project_id) REFERENCES projects(project_id) ON DELETE CASCADE
);

-- =====================================================
-- 7. Файли проєкту
-- =====================================================
CREATE TABLE IF NOT EXISTS project_files (
    file_id INTEGER PRIMARY KEY AUTOINCREMENT,
    project_id INTEGER NOT NULL,
    file_name TEXT NOT NULL,
    file_path TEXT NOT NULL,
    file_type TEXT,
    added_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (project_id) REFERENCES projects(project_id) ON DELETE CASCADE
);

-- =====================================================
-- 8. Нагадування
-- =====================================================
CREATE TABLE IF NOT EXISTS reminders (
    reminder_id INTEGER PRIMARY KEY AUTOINCREMENT,
    project_id INTEGER NOT NULL,
    reminder_date DATETIME NOT NULL,
    reminder_text TEXT NOT NULL,
    is_shown INTEGER DEFAULT 0,

    FOREIGN KEY (project_id) REFERENCES projects(project_id) ON DELETE CASCADE
);

-- =====================================================
-- 9. Початкові статуси
-- =====================================================
INSERT OR IGNORE INTO project_statuses (status_id, status_name) VALUES
(1, 'Нове'),
(2, 'В роботі'),
(3, 'Виконане'),
(4, 'Архів'),
(5, 'Доопрацювання');

-- =====================================================
-- 10. Початкові пріоритети
-- =====================================================
INSERT OR IGNORE INTO project_priorities (priority_id, priority_name, priority_level) VALUES
(1, 'Низький', 1),
(2, 'Середній', 2),
(3, 'Високий', 3);

-- =====================================================
-- 11. Початкові налаштування
-- =====================================================
INSERT OR IGNORE INTO app_settings (setting_key, setting_value) VALUES
('ProjectsDirectory', ''),
('ReminderDays', '3');

-- =====================================================
-- 12. Тестовий проєкт
-- =====================================================
